<div class="movieDetails">
  <div class="details">
    <div class="title"><%= movies.title %></div>
    <div class="image">
      <img src="<%= movies.image %>" alt="<%= movies.title %>" />
    </div>
    <div class="synopsis">
      <p><%= movies.synopsis %></p>
    </div>
    <div class="sorties">
      <a href="" >Edit</a>
      <a href="" id="red">Delete</a>
    </div>
  </div>
</div>
