@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  margin: 0;
  font-family: "Poppins", serif;
  height: 100%;
  overflow-x: hidden; /* Empêche le débordement horizontal */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assure que le body prend toute la hauteur de la fenêtre */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: aquamarine;
  padding: 10px 0; /* Ajoute un peu d'espace vertical */
}

header h1 {
  padding-left: 2em;
}

header nav {
  display: flex;
  margin-right: 2em;
  border: 1px none black;
  border-radius: 10px;
  font-weight: bolder;
  background-color: rgb(30, 120, 230);
}

header a {
  padding: 5px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(30, 120, 230);
}

header a:hover {
  background-color: rgb(71, 150, 248);
}

.container {
  flex: 1; /* Permet à .container de prendre tout l'espace disponible */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Assure que le container prend toute la largeur */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
  height: 80vh; /* Ajuste selon le besoin */
  overflow-y: auto;
  overflow-x: hidden;
}

.container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container .movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.container .movies li {
  display: flex;
  justify-content: space-between; /* Répartit les éléments sur toute la ligne */
  width: 100%; /* Utiliser toute la largeur du parent */
  overflow: hidden;
  gap: 3em;
}

.container .movies li .title {
  font-weight: bold;
  min-width: 200px;
  white-space: nowrap;
}

.container .movies li .synopsis {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 1em;
  text-overflow: ellipsis;
}

footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  background-color: aquamarine;
  margin-top: auto; /* Pousse le footer vers le bas */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}
