<header>
  <h1>Dad's Jokes</h1>
  <nav class="navigation">
    <a href="/jokes/list">
      <button class="btn">All</button>
    </a>
    <a href="/jokes/random">
      <button class="btn">Random</button>
    </a>
  </nav>
</header>
