<header>
    <h1>BEST OLD MOVIES</h1>
    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/movies"><button>List</button></a>
        <a href="/movies/create"><button>Create</button></a>
    </nav>
</header>