<div class="movieDetails">
    <div class="details">
      <div class="title"><%= movie.title %></div>
      <div class="image">
        <img src="<%= movie.image %>" alt="<%= movie.title %>" />
      </div>
      <div class="synopsis">
        <p><%= movie.synopsis %></p>
      </div>
      <div class="sorties">
        <a href="" >Edit</a>
        <a href="" id="red">Delete</a>
      </div>
    </div>
  </div>
  