<header>
  <span>Mark III</span>
  <h1>Jarvis Interface</h1>
  <% if(state === 'success') {%>
  <a href="/logout"><button>LOGOUT</button></a> <% }else{ %>
  <button style="visibility: hidden">LOGOUT</button>
  <% } %>
</header>
