<header>
    <h1>BEST OLD MOVIES</h1>
    <nav>
        <a href="/">/movies</a>
        <a href="/movies/create">/movies/create</a>
        <a href="/movies/read">/movies/read</a>
    </nav>
</header>