<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Breaking Bad</title>
    <!--Référence au fichier statique main.css-->
    <link rel="stylesheet" href="css/main.css">

</head>
<body>

<h1>YOO mister White !!!</h1>

<h1>You want to cook crystal meth ?</h1>

<h1>
    <% if(typeof user !== 'undefined'){ %>
        Welcome <%= user %>
    <% } else { %>
        Shit it's Gustavo !!!
    <% } %>
</h1>
</body>
</html>