<ul class="movies">
  <% movies.forEach(movie => { %>
  <li>
    <div class="title"><%= movie.title %></div>
    <div class="synopsis"><%= movie.synopsis %></div>
  </li>
  <hr style="border: 1px solid black; width: 100%" />
  <% }) %>
</ul>
